body {
    width: 1000px;
    margin: 0 auto;
    background-color: #1f2937;
  }

.menu-container {
    display: flex;
    color: white;
    background-color: #1f2937;
    padding-bottom: 12px;
    font-size: 20px;
} 


.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.headers {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.preview-container {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 70px;
}

.signup {
    background-color: blue;
    color: white;
}
.words {
    font-size: 50px;
    flex-wrap: wrap;
    width: 350px;
    text-align: start;
    padding-bottom: 10px;
}

.more-words {
    padding-bottom: 10px;
}

.photo {
    background-color: gray;
    width: 300px;
    height: 20px;
    justify-content: center;
    align-self: center;
    padding: 50px;
}

.information-container {
    background-color: white;
    color: black;
    justify-content: center;
    align-content: center;
    width: 1000px;
}

.some-text {
    font-size: 40px;
    text-align: center;
    padding: 8px;
    margin-bottom: 26px;
}

.images {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: space-between;
    flex-grow: 1;
}

.image-2 {
    display: flex;
    flex-basis: auto;
}

.paragraph {
    background-color: gray;
    justify-content: center;
    margin-top: 0;
    padding: 20px 0;
}

.one {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px 20px;
    font-size: 30px;
    margin-bottom: 0;
}

.two {
    text-align: end;
    font-size: 30px;
}